.Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 24px;
  width: 240px;
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.35);
  border-radius: 32px;
  &__image {
    display: flex;
    width: 100%;
    height: 328px;
    background-color: black;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    position: relative;

    &__space {
      max-width: 80px;
      z-index: 1;
      position: absolute;
    }
    &__favorite {
      right: 24px;
      top: 24px;
      z-index: 2;
      position: absolute;
    }
  }
  &__info {
    display: flex;
    gap: 8px;
  }
  &__type,
  &__id {
    padding: 4px 8px;
    width: 79px;
    height: 32px;
    background: #f1f1f1;
    border-radius: 28px;
    &__text {
      font-family: "Satoshi";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #848484;
      text-align: center;
      justify-content: center;
    }
  }
  &__name {
    padding: 0px 12px 5px;
    height: 120px;
    word-break: break-all;

    &__text {
      font-family: "Satoshi";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      margin: 0;
      letter-spacing: -1px;
      color: #161616;
    }
    &__location {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;
      height: 32px;

      &__info {
        width: 145px;
        height: 32px;
        font-size: 18px;
        line-height: 32px;
        color: #626262;
        opacity: 0.6;
      }
    }
  }
}
@media only screen and (max-width: 370px) {
  .Card-container {
    gap: 16px;
  }
  .Card {
    width: 100%;
  }
}
