.Content-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  gap: 24px;
  height: auto;
  background-color: black;
}
@media only screen and (max-width: 470px) {
  .Content-options {
    flex-direction: column;
    gap: 8px;
  }
}
